
# Visual Studio
*.sln
*.vcxproj
*.vcxproj.user
*.vcxproj.filters
Release/
Debug/
__vm/
.vs/
vc-fileutils.settings

# Visual Studio Code
.vscode/*
!.vscode/extensions.json

#Simulation
imgui.ini
eeprom.dat
spi_flash.bin
fs.img

#cmake
CMakeLists.txt
src/CMakeLists.txt
CMakeListsPrivate.txt
build/

# CLion
cmake-build-*

# Eclipse
.project
.cproject
.pydevproject
.settings
.classpath

# Python
__pycache__

# IOLogger logs
*_log.csv
